:root {
  --bg-color-yellow: #fdec51;
  --bg-color-white: #fff;
  --bg-color-body: #333;
  --text-color: #111;
  --font-family: 'Inter', sans-serif;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-color-body);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.main-container {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: var(--bg-color-yellow);
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 60px;
}

.profile-heading {
  margin: 0;
}

.button-close {
  border: 0;
  background-color: transparent;
}

.button-inner {
  display: flex;
}

.close-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}


/* Profile info */
.profile-info {
  position: relative;
  left: 60px;
  padding: 64px 50px 44px;
  background-color: var(--bg-color-white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.avatar {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 40px;
  transform: translateY(-50%);
  object-fit: cover;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-input-wrapper {
  width: 100%;
  margin-bottom: 24px;
}

.profile-text {
  display: block;
  font-size: 14px;
  color: #999;
  font-weight: 700;
  text-transform: uppercase;
}

.profile-input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid #999;
  color: #111;
}

.profile-fullname {
  display: flex;
  align-items: center;
  width: 100%;
}

.profile-input-name {
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
}

.textarea-text {
  color: #999;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.profile-message {
  resize: vertical;
  min-height: 80px;
  border: 0;
  border-bottom: 1px solid #999;
}


/* Actions */
.actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
  padding-right: 60px;
}

.action-link {
  display: inline-block;
  text-decoration: none;
  color: #999;
  font-weight: 700;
}

.action-link:first-child {
  margin-right: 20px;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
